.add-button-container {
    display:inline-block;
    position: fixed;
    left: 20px;
    top: 240px;
    font-size: 1.4em;
    background: #2980b9;
    padding: 24px;
}

.add-button {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: #3498db;
    padding:4px 8px;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}