body {
    font-size:16px;
    background: #2c3e50;
    min-width: 400px;
    min-height: 200px;
    padding:1em;
    box-sizing: border-box;
    color: #ecf0f1;
    font-weight: bold;
}

a, a:visited {
    color: #3498db;
}

h2, h4, h6 {
    margin-top: 0;
    margin-bottom: 0
}

.generate-button {
    padding: 6px 12px;
    background: #2ecc71;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 4px;
}

.generate-button:hover {
    background: #27ae60;
}

ul, ol {
    padding-left: 1em; /* make sure this matches the padding set in body */
}

.recipe-item {
    font-weight: bold;
}

.recipe-title {
    margin-bottom: 4px;
}

.recipe-sub-menu {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.recipe-title a {
    color: inherit;
}

.button {
    padding: 4px 8px;
    display: inline-block;
    cursor: pointer;
    font-size: 0.8em;
}
  
.red {
    background: #E74C3C;
    color: #ECF0F1;
}

.red:hover {
    background: #C0392B;
}